html
    head
        title test

    body
        h1 result #{result}
        h2 item #{item}
            each element in item
                p ID: #{element.id} Name: #{element.name} Modelnumber : #{element.modelnumber} Series :#{element.series}
